.content{
    width: 100%;
}
.right-column{
    margin-right: 0%;
    margin-top: 5%;
    width: 20%;
    float: right;
    border-style: solid ;
    height: 100vh;
    text-align: center;

}
.left-column{
    width: 75%;
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
    border-style: solid;
    display: flex;
    flex-flow: column;
    height: 100vh;
    text-align: center;
    align-content: center;
}

.left-column div{
    margin: 1%;
    border-style: solid;
    flex: 1 1 auto;
}
