

.content{
    width: 100%;
}

.right-column{
    margin-right: 0%;
    margin-top: 5%;
    width: 20%;
    float: right;
    height: 100vh;
    text-align: center;
    border-radius: 25px;
    background-color: #E9ECEF;
    border-style: #DEE2E6 solid;
}

.left-column{
    width: 75%;
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
    display: flex;
    flex-flow: column;
    height: 100vh;
    text-align: center;
    align-content: center;
}

.left-column div{
    margin: 1%;
    border-style: #DEE2E6 solid;
    flex: 1 1 auto;
    border-radius: 25px;
    background-color: #E9ECEF;
}
