body{
    height: 100vh;
}
.content{
    background-color: #E9ECEF;    
    width: 90%;
    margin-left: 5%;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 10px;
}
label#info{
    padding: 5px;
    
}
input#info{
    margin-bottom: 5px;
    
}

.userInputs input{
    display: block;
    margin: 5%;
    width: auto;
    float: left;
    align-content:flex-start;
    border-radius: 15px;
}