#profilePic{
    border-radius: 50%;
    width: 12%;
    height: 12%;
}
.info{
    margin-left: 5%;
    margin-bottom: 3%;
    text-align: left;
    width: 90%;
}
.info label{
    display: block;
    font-size: 20px;
    clear: both;
}
.content{
    background-color: #E9ECEF;    
    width: 90%;
    margin-left: 5%;
    border-radius: 25px;
    text-align: center;
    
}
.description{
    width: 100%;
    margin-top: 5px;
    height: 200px;
    background-color: #CDEAE5;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 5px;
}
#save{
    float: right;
    width: 10%;
    height: 5%;
    margin: 5%;
}
.forms{
   display: flex;
}
.labels label{
    float: left;
    display: block;
    margin: 5%;
}
.userInputs input{
    display: block;
    margin: 5%;
    width: auto;
    
}
#userDescription{
    width: 99%;
    height: 130px;
    background-color: #CDEAE5;
    padding: 5px;
    border-radius: 25px;
    margin-bottom: 5px;
    border: none;
    font-size: medium;
}

div.settings {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:10px;
}
div.settings label       { text-align:right; }
div.settings label:after { content: ":"; }

.button{
background-color: #457B9D; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}